@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Black.eot');
    src: url('../assets/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Black.woff') format('woff'),
        url('../assets/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Light.eot');
    src: url('../assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Light.woff') format('woff'),
        url('../assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}